@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("/fonts/OpenSans-ExtraBold.eot");
  src: url("/fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold.eot");
  src: url("/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular.eot");
  src: url("/fonts/OpenSans-Regular.eot#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsersi.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', serif;
}

.g-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  padding: 5px 0;
}

@media (max-width: 575px) {
  .g-header {
    padding: 10px 10px;
  }
}

.g-header__logo {
  width: 170px;
}

@media (max-width: 768px) {
  .g-header__logo {
    display: none;
  }
}

.g-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  .g-header__nav {
    display: none;
  }
}

.g-header__nav-li {
  position: relative;
  list-style: none;
  text-transform: uppercase;
  color: #282828;
  font-size: 1rem;
}

.g-header__nav-li:last-child {
  margin-right: 0;
}

.g-header__nav-li a {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.g-header__nav-li a:hover {
  -webkit-transition: .6s;
  transition: .6s;
  color: white;
  border-radius: 30px;
  background-color: #2196f3;
}

@media (max-width: 1200px) {
  .g-header__nav-li a {
    padding: 10px 20px;
  }
}

.g-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-header__phone-icon {
  margin-right: 15px;
}

.g-header__phone-info p:first-child {
  text-transform: uppercase;
  margin: 0;
}

.g-header__phone-info p a {
  color: #282828;
  text-decoration: underline;
}

.g-header__phone-info p a:hover {
  color: #686868;
}

.g-header__phone-info p:nth-child(2) {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}

.g-header__phone-info p:nth-child(3) {
  font-weight: 700;
  font-size: 1.3rem;
}

.main__service {
  padding-bottom: 70px;
  text-align: center;
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  .main__service {
    padding-bottom: 40px;
  }
}

.main__service h1 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans ExtraBold";
  margin: 0;
  background-color: #2F353D;
  padding: 20px 15px;
  -webkit-box-shadow: 0px 0px 19px 2px rgba(34, 16, 8, 0.31);
  box-shadow: 0px 0px 19px 2px rgba(34, 16, 8, 0.31);
}

.main__service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.main__service-wrap :first-child:before {
  content: '';
  position: absolute;
  background-color: #282828;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .6;
}

@media (max-width: 991px) {
  .main__service-wrap {
    display: block;
  }
}

.main__service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 40px;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  height: 300px;
  background-color: #eeeeee;
  position: relative;
  z-index: 100;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-right: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 991px) {
  .main__service-item {
    margin-bottom: 10px;
  }
}

.main__service-item:first-child {
  background: url(img/gallery/img3.jpg);
}

.main__service-item:nth-child(2) {
  background: url(img/gallery/img10.jpg);
}

.main__service-item:last-child {
  background: url(img/gallery/img14.jpg);
  margin-right: 0;
}

.main__service-item_title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  z-index: 50;
}

.main__service-item_btn {
  background: #2196f3 !important;
}

.main__service-item_btn:hover {
  background: #0960a5 !important;
}

.main__service-item svg {
  z-index: 50;
}

.main__service-item:hover {
  opacity: .8;
}

.main__gallery {
  padding-top: 70px;
  text-align: center;
}

@media (max-width: 768px) {
  .main__gallery {
    padding-top: 0;
  }
}

.main__gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}

.main__gallery-wrap .gallery-wrap__img {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  height: 100%;
  margin-bottom: 30px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media (max-width: 994px) {
  .main__gallery-wrap .gallery-wrap__img {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}

@media (max-width: 768px) {
  .main__gallery-wrap .gallery-wrap__img {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.main__gallery-wrap .gallery-wrap__img:hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: .5;
}

@media (max-width: 994px) {
  .main__gallery-wrap .gallery-wrap__img:hover:hover {
    opacity: 1;
  }
}

.main__gallery-wrap .gallery-wrap__img img {
  width: 100%;
}

.main__gallery-btn {
  margin-top: 20px;
}

.main__about {
  padding: 70px 0 0;
}

@media (max-width: 768px) {
  .main__about {
    padding: 40px 0;
  }
}

.main__about-ul ul {
  list-style-type: none;
  padding-top: 10px;
}

.main__about-ul ul li {
  position: relative;
}

.main__about-ul ul li:before {
  position: absolute;
  content: '';
  top: 8px;
  left: -15px;
  width: 6px;
  height: 6px;
  background: #2196f3;
}

.main__about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}

@media (max-width: 991px) {
  .main__about-wrap {
    display: block;
  }
}

.main__about-wrap li {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .main__about-wrap li {
    margin-bottom: 30px;
  }
}

.main__about-wrap li img {
  margin-bottom: 30px;
  width: 150px;
}

.main__about-image {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background: #eeeeee url(img/gallery/img18.jpg) no-repeat center/cover;
  height: 450px;
}

@media (max-width: 450px) {
  .main__about-image {
    height: 300px;
  }
}

.main__how {
  text-align: center;
  margin-bottom: 70px;
}

.main__how .how-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.main__how .how-wrap__item {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  margin-right: 50px;
}

.main__how .how-wrap__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .main__how .how-wrap__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .main__how .how-wrap {
    display: block;
  }
}

.main__order {
  padding: 70px 0;
  text-align: center;
  background-color: #eeeeee;
}

.main__order-input {
  display: block;
  margin: auto;
  padding: 20px 25px;
  width: 35%;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main__order-input {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .main__order-input {
    width: 100%;
  }
}

.main__order-input:focus {
  outline: none;
}

.main__order-input_message {
  min-height: 100px;
  max-height: 300px;
}

.footer {
  padding: 10px 0;
  background-color: #2F353D;
  color: white;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__wrap {
    display: block;
  }
}

.footer__wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__wrap-logo img {
  width: 150px;
}

@media (max-width: 768px) {
  .footer__wrap-logo {
    display: block;
  }
}

.footer__wrap-logo a {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer__wrap-logo a {
    margin-bottom: 20px;
  }
}

.footer__wrap h3 {
  margin-left: 20px;
  font-size: 1.3rem;
  text-align: center;
}

@media (max-width: 768px) {
  .footer__wrap-logo h3 {
    margin-left: 0;
  }
}

.footer__wrap-contacts a {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 768px) {
  .footer__wrap h3 {
    margin-top: 20px;
    text-align: left;
  }
}

.footer__wrap p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.footer__wrap p a {
  margin-left: 10px;
  font-size: 18px;
}

.head-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-top: 50px;
  text-align: center;
}

.head-title:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 200px;
  background-color: #2196f3;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

.mini-title {
  text-transform: uppercase;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  background-color: #2F353D;
  color: white;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn:hover {
  background-color: #51adf6;
}

.btn:active {
  background-color: #2196f3;
}

.btn:focus {
  outline: none;
}

.recall-btn {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #2196f3;
  color: #282828;
}

@media (max-width: 576px) {
  .recall-btn {
    margin-left: 0;
    margin-top: 10px !important;
  }
}

.recall-btn a {
  color: #282828;
}

.recall-btn:hover {
  color: white !important;
}

.close-btn {
  text-align: right;
  margin-bottom: 20px;
  cursor: pointer;
}

.opacity {
  position: fixed;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #28282863;
  z-index: 50;
}

.open-gallery {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100% !important;
  margin-bottom: 20px !important;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.overlay {
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  z-index: -1;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: .5 !important;
  z-index: 101;
}

.modal-window {
  visibility: hidden;
  opacity: 0;
  padding: 50px 30px;
  background-color: white;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
  -webkit-box-shadow: 1px 3px 15px 1px black;
  box-shadow: 1px 3px 15px 1px black;
  z-index: 105;
  border-radius: 10px;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
}

@media (max-width: 450px) {
  .modal-window {
    padding: 30px 15px;
    top: 10vh !important;
  }
}

@media (max-width: 768px) {
  .modal-window {
    padding: 20px 20px;
    top: 10vh;
    width: 80%;
  }
}

.modal-window__btn {
  margin-top: 20px;
}

.modal-window__btn a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .modal-window__btn {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .modal-window svg {
    width: 60px;
    height: 60px;
  }
}

.modal-window h4 {
  font-size: 30px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .modal-window h4 {
    font-size: 20px;
  }
}

.modal-window li {
  list-style: none;
  position: relative;
  padding: 10px;
  text-align: left;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .modal-window li {
    padding: 5px;
    font-size: 12px;
    padding: 15px 0;
    width: 100%;
  }
}

.modal-window li:before {
  position: absolute;
  content: '\2713';
  background-color: #349ef2;
  height: 30px;
  left: -40px;
  right: 0;
  padding-left: 9px;
  width: 30px;
  padding-top: 5px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .modal-window li {
    width: 90%;
  }
}

.modal-window .close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 50px;
}

.modal-window .close-btn:before {
  position: fixed;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -300;
}

@media (max-width: 768px) {
  .modal-window .close-btn {
    right: 10px;
    top: 10%;
  }
}

.modal-window .close-btn_item {
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: #282828;
}

.modal-window .close-btn_item:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-window .close-btn_item:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-window .close-btn:hover .close-btn_item {
  background-color: #757575;
}

.order-modal {
  -webkit-box-shadow: 1px 3px 15px 1px black;
  box-shadow: 1px 3px 15px 1px black;
  z-index: 105;
  border-radius: 10px;
  padding: 50px 30px;
  background-color: white;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
}

@media (max-width: 768px) {
  .order-modal {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .order-modal {
    width: 80%;
  }
}

.mobile-overlay {
  opacity: .5s;
}

.active {
  display: block !important;
  visibility: visible;
  opacity: 1;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu__btn {
  position: fixed;
  border: none;
  background-color: white;
  z-index: 215;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  border: 1px solid #eeeeee;
  top: 30px;
  left: 10px;
}

.mobile-menu__btn:focus {
  outline: none;
}

.mobile-menu__btn .line {
  position: absolute;
  content: '';
  height: 3px;
  width: 25px;
  left: 9px;
  background-color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.mobile-menu__btn .line:first-child {
  top: 32%;
}

.mobile-menu__btn .line:nth-child(2) {
  top: 47%;
}

.mobile-menu__btn .line:last-child {
  top: 60%;
}

.mobile-menu__ul {
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  width: 70%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100vh;
  z-index: 200;
  background-color: #eeeeee;
  padding: 80px 0;
  overflow: scroll;
}

.mobile-menu__ul a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  list-style: none;
  text-align: center;
  color: #282828;
  padding: 20px;
  cursor: pointer;
}

.mobile-menu__ul a:hover {
  background-color: #2196f3;
}

@media (max-width: 768px) {
  .mobile-menu__ul {
    width: 70%;
  }
}

.open-overlay {
  opacity: .6;
  z-index: 102;
}

.open-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.hamburger-open .line:first-child {
  top: 45%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-open .line:nth-child(2) {
  top: 45%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hamburger-open .line:last-child {
  top: 45%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.up-btn {
  display: none;
  position: fixed;
  top: 100px;
  left: 50px;
  opacity: .5;
  padding: 50px 10px;
  cursor: pointer;
  color: gray;
}

.up-btn:hover {
  text-decoration: none;
  color: darkgray;
}

@media (max-width: 768px) {
  .up-btn {
    left: 0px;
    top: 120px;
  }
}